# Ignore binaries (all files without extension or .exe extension)
*
!*.*
*.exe
!*/
# Don't ignore binaries (scripts) under .githooks
!.githooks/*

# Ignore Slang generated shader files
*.glsl
*.spv

# Ignore RenderDoc files
*.cap
